.navbar {
  background-color: #232323;
  margin: 0;
  padding: 1.9rem;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.brand {
  padding: 0 1rem;
  display: block;
  text-decoration: none;
  color: #ed6f5b;
}

.discover {
  color: #e5e5e5;
}

#searchForm,
.discover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  padding: 0.8rem;
  margin-right: 0;
  width: 300px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.search-button {
  padding: 0.8rem;
  margin-left: -6px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #ed6f5b;
  cursor: pointer;
}

.search-button:hover {
  color: #e5e5e5;
}

/* tablets and medium desktop desktop */
@media (max-width: 1113px) {
  .navbar {
    display: flex;
    padding: 1rem;
  }

  #searchForm {
    margin: 0 auto;
  }
}

/* tablets */
@media (max-width: 750px) {
  .search-input {
    width: 250px;
  }
  .brand {
    padding: 0.3rem 1rem;
  }
}
