/* now playing */

.playing-img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  color: #e5e5e5;
}
.playing-grid {
  opacity: 0.8;
  margin: 2rem 0;
  cursor: pointer;
}

.nowPlaying {
  color: #e5e5e5;
  margin: 1.5rem 0;
  text-transform: capitalize;
}
.playingMovie-name {
  color: #b7b7b7;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

.playing-grid:hover {
  opacity: 1;
}
.playing {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/* pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.prev-page,
.next-page {
  margin: 2rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  width: 12%;
  background-color: #ed6f5b;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.prev-page:hover,
.next-page:hover {
  background-color: #bd5848;
}

/* media queries */
@media (max-width: 1400px) {
  .playing {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 750px) {
  .playing {
    grid-template-columns: repeat(3, 1fr);
  }
  .prev-page,
  .next-page {
    width: 30%;
  }
}

@media (max-width: 580px) {
  .playing {
    grid-template-columns: repeat(2, 1fr);
  }
}
